body{
    margin:1.5em;
}
 p{
    background-color:rgba(154, 184, 241, 0.664);
    padding: 1.3em .8em;
    font-size: 1em;
}

.location-history p{
    padding: .3em .8em;
    background-color:rgba(109, 156, 243, 0.39);
}
#header  {
    margin: .8em;
}

#header a {
    text-decoration: none;
    font-weight: 800;
    color: rgba(50, 118, 245, 0.966);
    padding-right: 1em;
}

#mapid {
    height: 400px;
    width: 800px;
    margin: auto;
    
  }